*{
    margin : 0;
    padding : 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight : 800;
}

header,footer{
    height: 4em;
    background-color: grey;
    display : flex;
    flex-direction: column;

}
.container{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh;
    margin: 0.3em 0;
}
.b{
    order: -1;
    flex-grow: 1;
    background-color: lightcoral;
}
.c{
    flex-grow: 1;
    background-color: blueviolet;
}
.a{
    flex-grow: 2;
    background-color: brown;
}
@media screen and (max-width : 700px){
    .a{
        order : -2;
        /* height: 80vh; */
        width: 100%;
    }
    .container{
        flex-direction: row;
        /* flex-wrap:wrap-reverse; */
        /* height: 80vh; */
    }
    .b,.c{
        width: 50%;
        /* height: 40vh; */
    }
}

@media screen and (max-width: 500px) {
    .container{
        flex-direction: column;
    }
    .b,.c{
        width: 100%;
    }
}
